video{
  position: absolute;
  top: 0;
  left: 23%;
  width: 85%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.text{
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 2;
  color: whitesmoke;

}


span {

  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid;
  width: 32ch;
  font-size: 30px;

  animation: typing 4s steps(20), blink .6s infinite step-end alternate;
  overflow:hidden;
  }

  @keyFrames typing {

  from { width: 0}
  }

  @keyFrames blink {
  50% { border-color: transparent}
  }


.text2 {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid;
  width: 21ch;
  font-size: 30px;
  
  
  animation: typing 4s steps(20), blink .6s infinite step-end alternate;
  overflow:hidden;
  }
  
  @keyFrames typing {
  
  from { width: 0}
  }
  
  @keyFrames blink {
   50% { border-color: transparent}
  }
