<div class="sidebar">
  <img src="assets/img/miler.jpg" alt="Miler Arnez Ponce">
  <h2>Miler Arnez Ponce</h2>
  <a [routerLink]="['inicio']" routerLinkActive="active">INICIO</a>
  <a [routerLink]="['datos-generales']" routerLinkActive="active">DATOS GENERALES</a>
  <a [routerLink]="['resumen']" routerLinkActive="active">SOBRE MI</a>
  <a [routerLink]="['informacion-de-contacto']" routerLinkActive="active">INFORMACIÓN DE CONTACTO</a>
  <a [routerLink]="['agenda-electronica']" routerLinkActive="active">AGENDA ELECTRÓNICA</a>
</div>

