img{
  width: 230px;
  height: 350px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  float: left;
  margin-right: 100px;
  border-radius: 20px;
}


h1{
  font-weight: bold;
  color: rgb(34, 120, 233);
  margin-top: 35px;
  margin-left: 20px;
}

h2{
  color:rgb(34, 120, 233);
  margin-left: 60px;
  margin-top: 30px;
  display: block;
}

span{
  margin-left: 10px;
  margin-top: 37px;
  font-size: 20px;

}

b{
  color: black;
}


.mat-progress-bar{
  width: 400px;
  margin-left: 20px;
  height: 10px;
  border-radius: 10px;
}

h5{
  margin-left: 20px;
  margin-bottom: 10px;
}

.hab{
  float: left;
  margin-right: 5%;
}


.hab2{
 float: left;
 margin-top: 8.6%;
}

.container{
  width: 100%;
  margin-left: 4%;
}

.logos{
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
  margin-top: 10px;
  float: left;
}

.text-1{
  margin-left: -80px;
 
}

.text-2{
  margin-left: -90px;
}
